{% extends 'base.html.twig' %}

{% block title %}Multa index{% endblock %}

{% block body %}
    <h1>Multa index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id_Bibliotecario</th>
                <th>Id_Usuario</th>
                <th>Id_Prestamo</th>
                <th>Monto</th>
                <th>Fecha_Emision</th>
                <th>Estado_Pago</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for multum in multas %}
            <tr>
                <td>{{ multum.id }}</td>
                <td>{{ multum.idBibliotecario }}</td>
                <td>{{ multum.idUsuario }}</td>
                <td>{{ multum.idPrestamo }}</td>
                <td>{{ multum.Monto }}</td>
                <td>{{ multum.fechaEmision ? multum.fechaEmision|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ multum.estadoPago }}</td>
                <td>
                    <a href="{{ path('app_multa_show', {'id': multum.id}) }}">show</a>
                    <a href="{{ path('app_multa_edit', {'id': multum.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_multa_new') }}">Create new</a>
{% endblock %}
