{% extends 'base.html.twig' %}

{% block title %}Multa{% endblock %}

{% block body %}
    <h1>Multa</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ multum.id }}</td>
            </tr>
            <tr>
                <th>Id_Bibliotecario</th>
                <td>{{ multum.idBibliotecario }}</td>
            </tr>
            <tr>
                <th>Id_Usuario</th>
                <td>{{ multum.idUsuario }}</td>
            </tr>
            <tr>
                <th>Id_Prestamo</th>
                <td>{{ multum.idPrestamo }}</td>
            </tr>
            <tr>
                <th>Monto</th>
                <td>{{ multum.Monto }}</td>
            </tr>
            <tr>
                <th>Fecha_Emision</th>
                <td>{{ multum.fechaEmision ? multum.fechaEmision|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Estado_Pago</th>
                <td>{{ multum.estadoPago }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_multa_index') }}">back to list</a>

    <a href="{{ path('app_multa_edit', {'id': multum.id}) }}">edit</a>

    {{ include('multa/_delete_form.html.twig') }}
{% endblock %}
