{% extends 'base.html.twig' %}

{% block title %}Multas{% endblock %}

{% block body %}
    <h1>Multas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ multa.id }}</td>
            </tr>
            <tr>
                <th>Monto</th>
                <td>{{ multa.Monto }}</td>
            </tr>
            <tr>
                <th>Fecha_Emision</th>
                <td>{{ multa.FechaEmision ? multa.FechaEmision|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Estado_Pago</th>
                <td>{{ multa.EstadoPago }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_multas_index') }}">back to list</a>

    <a href="{{ path('app_multas_edit', {'id': multa.id}) }}">edit</a>

    {{ include('multas/_delete_form.html.twig') }}
{% endblock %}
