{% extends 'base.html.twig' %}

{% block title %}Bibliotecario index{% endblock %}

{% block body %}
    <h1>Bibliotecario index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Correo_electronico</th>
                <th>Fecha_Contratacion</th>
                <th>Turno_Trabajo</th>
                <th>Apellido</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bibliotecario in bibliotecarios %}
            <tr>
                <td>{{ bibliotecario.id }}</td>
                <td>{{ bibliotecario.Nombre }}</td>
                <td>{{ bibliotecario.Direccion }}</td>
                <td>{{ bibliotecario.Telefono }}</td>
                <td>{{ bibliotecario.CorreoElectronico }}</td>
                <td>{{ bibliotecario.FechaContratacion ? bibliotecario.FechaContratacion|date('Y-m-d') : '' }}</td>
                <td>{{ bibliotecario.TurnoTrabajo }}</td>
                <td>{{ bibliotecario.Apellido }}</td>
                <td>
                    <a href="{{ path('app_bibliotecario_show', {'id': bibliotecario.id}) }}">show</a>
                    <a href="{{ path('app_bibliotecario_edit', {'id': bibliotecario.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_bibliotecario_new') }}">Create new</a>
{% endblock %}
