{% extends 'base.html.twig' %}

{% block title %}Bibliotecario{% endblock %}

{% block body %}
    <h1>Bibliotecario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bibliotecario.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ bibliotecario.Nombre }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ bibliotecario.Direccion }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ bibliotecario.Telefono }}</td>
            </tr>
            <tr>
                <th>Correo_electronico</th>
                <td>{{ bibliotecario.CorreoElectronico }}</td>
            </tr>
            <tr>
                <th>Fecha_Contratacion</th>
                <td>{{ bibliotecario.FechaContratacion ? bibliotecario.FechaContratacion|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Turno_Trabajo</th>
                <td>{{ bibliotecario.TurnoTrabajo }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ bibliotecario.Apellido }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_bibliotecario_index') }}">back to list</a>

    <a href="{{ path('app_bibliotecario_edit', {'id': bibliotecario.id}) }}">edit</a>

    {{ include('bibliotecario/_delete_form.html.twig') }}
{% endblock %}
