{% extends 'base.html.twig' %}

{% block title %}Librarian{% endblock %}

{% block body %}
    <h1>Librarian</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ librarian.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ librarian.Nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ librarian.Apellido }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ librarian.Direccion }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ librarian.Telefono }}</td>
            </tr>
            <tr>
                <th>Correo_Electronico</th>
                <td>{{ librarian.CorreoElectronico }}</td>
            </tr>
            <tr>
                <th>Fecha_Contratacion</th>
                <td>{{ librarian.FechaContratacion ? librarian.FechaContratacion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Turno_Trabajo</th>
                <td>{{ librarian.turnoTrabajo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_librarian_index') }}">back to list</a>

    <a href="{{ path('app_librarian_edit', {'id': librarian.id}) }}">edit</a>

    {{ include('librarian/_delete_form.html.twig') }}
{% endblock %}
