{% extends 'base.html.twig' %}

{% block title %}Prestamo index{% endblock %}

{% block body %}
    <h1>Prestamo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id_Bibliotecario</th>
                <th>Id_Usuario</th>
                <th>Id_Material</th>
                <th>Fecha_Prestamo</th>
                <th>Fecha_Devolucion</th>
                <th>Estado_Prestamo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prestamo in prestamos %}
            <tr>
                <td>{{ prestamo.id }}</td>
                <td>{{ prestamo.idBibliotecario }}</td>
                <td>{{ prestamo.idUsuario }}</td>
                <td>{{ prestamo.idMaterial }}</td>
                <td>{{ prestamo.fechaPrestamo ? prestamo.fechaPrestamo|date('Y-m-d') : '' }}</td>
                <td>{{ prestamo.fechaDevolucion ? prestamo.fechaDevolucion|date('Y-m-d') : '' }}</td>
                <td>{{ prestamo.estadoPrestamo }}</td>
                <td>
                    <a href="{{ path('app_prestamo_show', {'id': prestamo.id}) }}">show</a>
                    <a href="{{ path('app_prestamo_edit', {'id': prestamo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_prestamo_new') }}">Create new</a>
{% endblock %}
